* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(140deg, #63687F, #323440);
    background-attachment: fixed;
    font-family: 'Questrial', sans-serif;
}

.nav {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.logo h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-list ul {
    display: flex;
}

.nav-list ul li {
    list-style: none;
    margin: 5px 6px;
    font-size: 16px;
}

.nav-list ul li a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}


.nav-list ul li a:hover {
    border-bottom: 2px solid #53576b;;
    margin-bottom: 8px;
    transition:  ease 0.5s;
    /* color: #53576b; */
}

.hero {
    display: flex;
}

.hero-right-side {
    width: 55vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}


.hero-right-side .hero-image {
    width: 100%;
}

.hero-left-side {
    width: 45vw;
    position: relative;
    top: 200px;
    left: 253px;
}

.hero-left-side h2 {
    font-size: 100px;
    margin-left: 23px;
    position: absolute;
    /* top: 240px;
    left: 460px; */
    width: 75%;
    color: white;
}

#hero-shop-now-btn {
    width: 230px;
    height: 60px;
    display: flex;
    font-size: 23px;
    font-weight: bold;
    border-radius: 21px;
    position: absolute;
    top: 350px;
    left: 110px;
    padding: 13px 30px;
    border-color: transparent;
}

#hero-shop-now-btn h3 { 
    margin-left: 10px;
    color:#53576b;
}

.cls-1 {
    fill: #53576b;
    stroke: #53576b;
    stroke-width: 8px;
}

